@import "../scss/vars.module.scss";

.linkWrapper {
  background-color: $color1;
  width: auto;
  border-radius: 0.625rem;
  display: inline;
  margin-right: 1rem;
  a {
    text-decoration: none;
    color: black;
    width: auto;
    font-size: 1rem;
    padding: 1.125rem;
    display: flex;
  }
}
