@import "../../shared/scss/vars.module.scss";

.weatherPage {
  width: 90%;
  margin: auto;
  padding-bottom: 3rem;
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    .sortBox {
      margin: 1.5rem 0;
      select {
        margin-left: 1rem;
        padding: 4px 6px;
        border-radius: 8px;
        border: 1px solid $color1;
      }
    }
  }
  .weatherBoxWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .weatherBox {
      width: 28%;
      border: 1px solid black;
      padding: 1rem;
      margin-bottom: 1rem;
      @media (max-width: 991px) {
        width: 100%;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          span {
            font-size: 0.75rem;
          }
          .title {
            font-weight: bold;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
